.row {
    justify-content: center;
}

.seat {
    display: grid;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 12px;
    background-color: green;
    margin: 10px 5px;
    text-align: center;
    align-items: center;
    padding: 0px;
}

.clicked {
    background-color: blue !important;
}

.unavailable {
    background-color: red !important;
    cursor: not-allowed !important;
    pointer-events: none;
}

.letters {
    display: grid;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 12px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    align-items: center;
}

.empty1 {
    display: grid;
    width: 0px;
    margin: 0px 12px;
}

.empty2 {
    display: grid;
    width: 0px;
    margin: 0px 32px;
}