#auditorium {
  position: relative;
  width: 1200px;
  height: 100%;
  border: 1px solid #ccc
}

#auditorium-img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  display: block;
  /* z-index: 1; */
}

#seat-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: auto; 
}
